body
{
    font-family: 'KoHo', sans-serif;
}

/* commons */







/* header-top */
.header-top
{
    background-color: rgb(0, 0, 0);
}

.header-top img
{
    width: 7%;
}

/* header-bottom */
.header-bottom
{
    background-color: rgb(255, 255, 255);
}





/* jumbotron */
.jumbotron
{
    background-image:url(../img/jumbo-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
}



/* game-list */





















/* debug */
.debug .header-bottom
{
    height: 70px;
}

.debug .jumbotron .box
{
    width: 400px;
    height: 200px;
    background-color: red;
}

.debug .game-list .box
{
    width: 150px;
    height: 100px;
    background-color: red;
}